<div class="ui container">
    <div class="ui grid">
      <div class="middle aligned sixteen wide mobile eight wide tablet eight wide computer column">
        <div class="ui large breadcrumb">
          <div class="active section">
            <span class="ui teal header">
              <span>{{title}}</span>
            </span>
          </div>
        </div>
      </div>

    <div class="ui link five doubling cards">
      <div class="ui card" *ngFor="let movie of movies | async" [routerLink]="['/about-movie/'+movie.id]" routerLinkActive="active">
        <a></a>
        <div class="floating ui teal circular label items">
            {{ movie.vote_average }}
        </div>
        <div class="image">
          <img *ngIf="movie.poster_path" class="ui middle aligned tiny image" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
          <img *ngIf="!movie.poster_path" class="ui middle aligned tiny image" src="https://placehold.it/500x740">
        </div>
        <div class="content">
          <div class="header">
              {{ movie.title }}
          </div>
        </div>
        <div class="content">
            <div class="meta">
                {{ movie.genre_names.join(', ') }}
            </div>
        </div>
      </div>
    </div>
  </div>
